/* Estilos globais */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    overflow-x: hidden;
    /* Fundo cinza claro */
}

header { 
    position: absolute;
    width: 100vw;
    height: 500px;
}

.main {
    flex: 1;
    padding: 1rem;
    padding-left: 200px;
    height: 100%;
    /* sem padding-left */
}

iframe { 
    height: 100vh;
}


/* Estilos da imagem de capa */
.imagem-capa img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}

/* Título e Subtítulo */
.titulo-subtitulo {
    text-align: center;
    background-color: #3a3d98;
    /* Azul geométrico */
    color: white;
    padding: 40px 0;
}

.titulo-subtitulo h1 {
    margin: 0;
    font-size: 2.5em;
}

.titulo-subtitulo h2 {
    margin: 40;
    font-size: 1.5em;
    font-weight: normal;
}

/* Botões Sobre Mim e Referências */
.botoes-superiores {
    position: absolute;
    top: 20px;
    /* Ajuste a posição vertical conforme necessário */
    left: 20px;
    /* Para Sobre Mim */
    right: 20px;
    /* Para Referências */
    display: flex;
    justify-content: space-between;
    /* Espaça os botões */
    z-index: 1;
    /* Faz com que os botões fiquem acima da imagem */
}

.botoes-superiores button {
    background-color: #3a3d98;
    /* Azul geométrico */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.botoes-superiores button:hover {
    background-color: #5759d6;
    /* Azul mais claro */
}




/* Seções para as janelas interativas */
section {
    margin: 20px auto;
    padding: 20px;
    max-width: 900px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

iframe {
    width: 100%;
    /* O iframe ocupa 100% da largura disponível */
    height: 800px;
    /* Ajuste a altura conforme necessário */
    border: none;
    /* Sem bordas */
    border-radius: 10px;
    /* Bordas arredondadas */
}

/* Estilos para as seções "Sobre Mim" e "Referências" */
#about,
#references {
    margin: 20px auto;
    padding: 20px;
    max-width: 900px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Seções para "Sobre Mim" e "Referências" */
#about,
#references {
    margin: 20px auto;
    padding: 20px;
    max-width: 900px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
    /* Para centralizar o texto */
}

/* Estilo para o botão de tela cheia */
.fullscreen-button {
    background-color: #4CAF50;
    /* Cor de fundo */
    color: white;
    /* Cor do texto */
    border: none;
    /* Sem borda */
    padding: 10px 20px;
    /* Espaçamento interno */
    text-align: center;
    /* Centraliza o texto */
    text-decoration: none;
    /* Sem sublinhado */
    display: inline-block;
    /* Para o botão se comportar como um bloco */
    font-size: 16px;
    /* Tamanho da fonte */
    margin: 10px 0;
    /* Margem acima e abaixo */
    border-radius: 5px;
    /* Bordas arredondadas */
    cursor: pointer;
    /* Cursor em forma de mão */
    transition: background-color 0.3s;
    /* Efeito de transição ao passar o mouse */
}

.fullscreen-button:hover {
    background-color: #45a049;
    /* Cor de fundo ao passar o mouse */
}

/* Existing CSS styles */

/* Footer Styles */
footer {
    background-color: #2a2d87;
    /* Azul mais escuro */
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    text-align: center;
    bottom: 0;
    
}

.container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.social-links li {
    margin: 0 10px;
}

.social-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #5759d6;
    /* Azul mais claro */
}

/* Font Awesome Icons */
.fab,
.fas {
    font-size: 1.5em;
}

.main-carrossel { 
    padding-top: 50px;
}

.carrossel { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.item { 
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
.item img { 
    width: 700px;
    margin-bottom: 10px;
    border-radius: 0.5rem;
}
.item label { 
    font-style: italic;
    color: #3a3d98;
    font-size: larger;

}

section h2 { 
    color: #3a3d98;
}

#references h2 { 
    color: #3a3d98;
}
#references li { 
    margin-bottom: 50px;
    font-size: larger;
}

#about h2 { 
    color: #3a3d98;
    
}

.mobile-version { 
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-version img { 
    width: 300px;
}

.mobile-version h1 {
    color: #3a3d98;
    font-size: 33px;
    margin-top: 70px;
    text-transform: uppercase;

}


/* Mostrar sidebar no desktop */
@media (max-width: 600px) {
    header, main, .botoes-superiores{
        display: none;
    }


    .mobile-version {
        display: flex;
        height: 100vh;
    }

}